
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #header {
          margin-left: auto;
          margin-right: auto;}
      #map-canvas {
          width: 500px;
          height: 500px;
          margin-left: auto;
          margin-right: auto;}
    </style>
    <script type="text/javascript">

     var directionsDisplay,
        directionsService;

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(<%= @lat %>, <%= @long %>),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById("leftcolumn"));
       
        <% @coffee_venues.each do |i| %>
            google.maps.event.addListener(
               new google.maps.Marker({
                            position: new google.maps.LatLng(<%= i.location.lat %>,<%= i.location.lng %>),
                            map: map,
                            icon: "<%= i.icon %>",
                            title: "<%= i.name %>"
            }), 
            'click', function() {
              
                new google.maps.InfoWindow({
                    content: "<b><%= i.name %></b> (<%= i.distance %> mi away)<br>Here Now: <%= i.here %><br><input onclick='goClick(this)' type='button' data='(<%= i.location.lat %>,<%= i.location.lng %>)' value='Go here'/>"
                }).open(map,new google.maps.Marker({
                    position: new google.maps.LatLng(<%= i.location.lat %>,<%= i.location.lng %>),
                    map: map,
                    icon: "<%= i.icon %>",
                    title: "<%= i.name %>"
                }));
          });
        <% end %>
      }

      google.maps.event.addDomListener(window, 'load', initialize);
      
      function cleanup(map) {
        if (map) google.maps.event.clearListeners(map, 'click');
        delete(map);
      }

      function goClick(target) {
        calcRoute("<%= @lat %>,<%= @long %>", $(target).attr('data'));
      }

      function calcRoute(start, end) {
        var request = {
           origin:start,
           destination:end,
           travelMode: google.maps.TravelMode.WALKING
        };

        directionsService.route(request, function(result, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(result);
          }
        });
      }
     function twilio() {console.log("Called!!!!"); $.ajax({url: "home/send_text", type: "POST"})}
    
  </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="headerwrap">
        <div id="header">
          <%= image_tag "banner.png", :class => "bannerphoto" %>
        </div>
      </div>
      <div id="middlewrapper">
        <div id="leftcolumnwrap">
          <div id="leftcolumn">
            <input type="button" value="Send text" onclick="twilio()" />
          </div>
        </div>
        <div id="contentwrap">
          <div id="content">
            <div id="map-canvas"/>
          </div>
        </div>
      </div>
      <div id="footerwrap">
        <div id="footer">
            Get your java[script] in 24 hours or less!
        </div>
      </div>
    </div>
  </body>
</html>
