
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #header {
          margin-left: auto;
          margin-right: auto;}
      #map-canvas {
          width: 500px;
          height: 100%; 
          margin-left: auto;
          margin-right: auto;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0hS0Z0_OvGJzYwa6BM07e0CT4BMlQT0o&sensor=false">
  </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">

     var directionsDisplay,
        directionsService = new google.maps.DirectionsService();

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(<%= @lat %>, <%= @long %>),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);
      
       
        <% @coffee_venues.each do |i| %>
            google.maps.event.addListener(
               new google.maps.Marker({
                             position: new google.maps.LatLng(<%= i.location.lat %>,<%= i.location.lng %>),
                            map: map,
                            title: "<%= i.name %>"
            }), 
            'click', function() {
                new google.maps.InfoWindow({
                    content: "<b><%= i.name %></b><br>Here Now: <%= i.count %><br><input onclick='goClick(this)' type='button' data='(<%= i.location.lat %>,<%= i.location.lng %>)' value='Go here'/>"
                }).open(map,new google.maps.Marker({
                    position: new google.maps.LatLng(<%= i.location.lat %>,<%= i.location.lng %>),
                    map: map,
                    title: "<%= i.name %>"
                }));
          });
        <% end %>
      }

      google.maps.event.addDomListener(window, 'load', initialize);
      function goClick(target) {
        calcRoute("2051 Stierlin Ct. Mountain View California", $(target).attr('data'));
      }

      function calcRoute(start, end) {
        var request = {
           origin:start,
           destination:end,
           travelMode: google.maps.TravelMode.DRIVING
        };

        directionsService.route(request, function(result, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(result);
          }
        });
      }
    
  </script>
  </head>
  <body>
    <div id="header">This is hte header</div>
    <div id="map-canvas"/>
        
    <div id="footer">This is the footer</div>
  </body>
</html>
